<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '351109811961537',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.12'
    });
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div class="fb-customerchat"
  page_id="149997182342966"
  theme_color="#6699cc"
  logged_in_greeting="If you have any questions or suggestions, feel free to message me!"
  logged_out_greeting="If you have any questions or suggestions, feel free to message me!"
>
</div>
