---

---

$sidebar-bg-color: #343D46;

.posts-list {

	a {
	color: #343D46;
		&hover, &focus {
  			text-decoration: underline;
		}
	}

	p {
		color: #343D46;
		&hover, &focus {
  			text-decoration: none;
		}
	}
}

@import "hydeout";